@use "variables" as *;
@use "mixins" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  @include transition;

  font-family: "Kumbh Sans";
  line-height: 1.625;
}

input[type="checkbox"] {
  @include checkbox;
}

button {
  @include button2;
}

body:has(.dark) {
  background-color: $primaryClr4;
  color: $white;
}
body:has(.light) {
  background-color: $white;
  background: $secondaryClr2;
}

.header {
  background: url("../assets/desktop/bg-pattern-header.svg") no-repeat;
  background-size: cover;
  border-radius: 0 0 0 rem(100);

  @include tablet {
    background: url("../assets/tablet/bg-pattern-header.svg") no-repeat;
    background-size: cover;
  }
  @include phone {
    background: url("../assets/mobile/bg-pattern-header.svg") no-repeat;
    background-size: cover;
  }

  &__container {
    @include container;
    padding-top: rem(45);
    min-height: rem(160);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include tablet {
      padding-top: rem(42);
    }
    @include phone {
      padding-top: rem(32);
    }
  }

  &__theme-toggle-wrapper {
    display: flex;
    align-items: center;
    gap: rem(16);
    &:hover::before,
    &:hover::after {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &::before,
    &::after {
      @include transition;
      font-family: "Custom icons";
      color: $white;
      content: "\E802";
      font-size: rem(12);
    }
    &::after {
      content: "\E801";
    }
    & > .header__theme-toggle {
      @include transition;
      $btn-width: rem(48);
      $inner-circle-width: rem(14);
      $circle-padding: rem(5);

      position: relative;
      min-width: $btn-width;
      min-height: $btn-width / 2;
      border-radius: rem(12);

      background-color: $white;
      &:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      &:hover::before {
        background-color: rgba($primaryClr, 0.7);
      }
      &::before {
        @include transition;
        // -webkit-transtition: left 0.3s ease-in-out, right 0.3s ease-in-out, color 0.3s ease-in-out;
        // transition: left 0.3s ease-in-out, right 0.3s ease-in-out, color 0.3s ease-in-out;

        width: $inner-circle-width;
        height: $inner-circle-width;
        background-color: $primaryClr;
        opacity: 1;
        border-radius: 50%;
        content: "";
        position: absolute;
        left: rem(5);
      }
      &:checked {
        background-color: $white;

        &::before {
          left: calc($btn-width - $inner-circle-width - $circle-padding);
        }
      }
      &:hover {
        background-color: $white;
      }
    }
  }
}
.main {
  @include container;
  .filters {
    $input-height: rem(80);
    $icon-size: rem(24);

    @include transition;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    background: $white;
    min-height: $input-height;
    width: 100%;
    border-radius: rem(6);
    overflow: hidden;
    padding: rem(2) rem(16);

    @include tablet {
      padding: 0 rem(16) 0 rem(24);
    }
    input {
      @include transition;
      border: none;
      border-right: rem(1) solid $secondaryClr2;
      &:focus {
        outline: rem(1) solid rgba($primaryClr, 0.3);
      }
    }
    .dark & input,
    .dark & {
      background: $primaryClr4;
      color: $white;
    }
    .dark &__wrapper {
      .filters__location,
      .filters__name {
        border-right: rem(1) solid rgba($secondaryClr2, 0.1);
      }
    }
    .dark & input[type="checkbox"] {
      border: none;
      @include checkbox;
      background-color: rgba($secondaryClr2, 0.2);
    }

    &__wrapper {
      @include transition;
      position: relative;
      flex: 1 1 auto;

      &:has(.filters__name),
      &:has(.filters__location) {
        &::before {
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          font-family: "Custom icons";
          color: $primaryClr;
          content: "\E803";
          font-size: $icon-size;
        }
      }
      &:has(.filters__location) {
        padding-left: rem(23);
        &::before {
          content: "\E804";
        }
      }
    }
    &__name {
      height: 100%;
      padding: 0 calc(#{rem(16)} + $icon-size);
      width: 100%;
      min-height: $input-height;
    }
    &__location {
      padding: 0 $icon-size;
      width: 100%;
      min-height: $input-height;
    }
    label[for="full-time"] {
      margin-right: rem(26);
      min-width: fit-content;
    }
    &__full-time {
      font-size: rem(16);
      margin: 0 rem(16) 0 rem(32);
    }
    &__submit {
      @include button;
      height: rem(48);

      body:has(.dark) & {
        background: $primaryClr;
        border-right: none;
      }

      @include tablet {
        padding: rem(16) rem(14);
      }
    }
  }
  .jobs {
    padding: rem(105) 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(30);
    row-gap: rem(65);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include phone {
      grid-template-columns: repeat(1, 1fr);
    }
    .job-card {
      body:has(.dark) & {
        background: $primaryClr3;
      }
      padding: rem(0) rem(32) rem(36) rem(32);
      background: $white;
      border-radius: rem(6);
      position: relative;
      display: flex;
      flex-direction: column;
      &__logo-wrapper {
        transform: translateY(-50%);
        width: rem(50);
        height: rem(50);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(15);
      }
      &__logo {
        object-fit: contain;
      }
      &__header {
        display: flex;
        gap: rem(12);
        color: $secondaryClr4;
      }
      &__contract {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(12);
        &::before {
          display: inline-block;
          content: "";
          width: rem(4);
          height: rem(4);
          border-radius: 50%;
          background: $secondaryClr4;
        }
      }
      &__postion {
        body:has(.dark) & {
          color: $white;
        }
        font-size: rem(20);
        color: $primaryClr3;
        font-weight: bold;
        margin: rem(16) 0;
      }
      &__company {
        color: $secondaryClr4;
        margin-bottom: rem(40);
      }
      &__location {
        color: $primaryClr;
        font-weight: bold;
        font-size: rem(14);
      }
      &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
      }
    }
  }
}
