@use "variables" as *;
@use "mixins" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  @include transition;

  font-family: "Kumbh Sans";
  line-height: 1.625;
}

input[type="checkbox"] {
  @include checkbox;
}

button {
  @include button2;
}
body {
  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
  }
  &:has(.dark) {
    background-color: $primaryClr4;
    color: $white;
  }
  &:has(.light) {
    background-color: $white;
    background: $secondaryClr2;
  }
}

.header {
  background: url("../assets/desktop/bg-pattern-header.svg") no-repeat;
  background-size: cover;
  border-radius: 0 0 0 rem(100);

  @include tablet {
    background: url("../assets/tablet/bg-pattern-header.svg") no-repeat;
    background-size: cover;
  }
  @include phone {
    background: url("../assets/mobile/bg-pattern-header.svg") no-repeat;
    background-size: cover;
  }

  &__container {
    @include container;
    padding-top: rem(45);
    min-height: rem(160);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: rem(1440)) {
      padding-left: 0;
      padding-right: 0;
    }

    @include tablet {
      padding-top: rem(42);
    }
    @include phone {
      padding-top: rem(32);
    }
  }

  &__theme-toggle-wrapper {
    display: flex;
    align-items: center;
    gap: rem(16);
    &:hover::before,
    &:hover::after {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &::before,
    &::after {
      @include transition;
      font-family: "Custom icons";
      color: $white;
      content: "\E802";
      font-size: rem(12);
    }
    &::after {
      content: "\E801";
    }
    & > .header__theme-toggle {
      @include transition;
      $btn-width: rem(48);
      $inner-circle-width: rem(14);
      $circle-padding: rem(5);

      position: relative;
      min-width: $btn-width;
      min-height: $btn-width / 2;
      border-radius: rem(12);

      background-color: $white;
      &:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      &:hover::before {
        background-color: rgba($primaryClr, 0.7);
      }
      &::before {
        @include transition;
        // -webkit-transtition: left 0.3s ease-in-out, right 0.3s ease-in-out, color 0.3s ease-in-out;
        // transition: left 0.3s ease-in-out, right 0.3s ease-in-out, color 0.3s ease-in-out;

        width: $inner-circle-width;
        height: $inner-circle-width;
        background-color: $primaryClr;
        opacity: 1;
        border-radius: 50%;
        content: "";
        position: absolute;
        left: rem(5);
      }
      &:checked {
        background-color: $white;

        &::before {
          left: calc($btn-width - $inner-circle-width - $circle-padding);
        }
      }
      &:hover {
        background-color: $white;
      }
    }
  }
}
.main {
  @include container;

  @media (min-width: rem(1440)) {
    padding: 0;
  }
  .filters {
    position: relative;
    z-index: 2;

    $input-height: rem(80);
    $icon-size: rem(24);

    @include transition;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    background: $white;
    min-height: $input-height;
    width: 100%;
    border-radius: rem(6);
    overflow: hidden;
    padding: rem(2) rem(16);

    @include tablet {
      padding: 0 rem(16) 0 rem(24);
    }
    @include phone {
      overflow: visible;
      transform: translateY(-80%);
    }
    input {
      @include transition;
      border: none;
      border-right: rem(1) solid $secondaryClr2;
      &:focus {
        outline: rem(1) solid rgba($primaryClr, 0.3);
      }
      @include phone {
        border: none;
      }
    }
    .dark & input,
    .dark & {
      background: $primaryClr4;
      color: $white;
    }
    .dark &__wrapper {
      .filters__location,
      .filters__name {
        border-right: rem(1) solid rgba($secondaryClr2, 0.1);

        @include phone {
          border: none;
        }
      }
    }
    .dark & input[type="checkbox"] {
      min-width: rem(24);
      border: none;
      @include checkbox;
      background-color: rgba($secondaryClr2, 0.2);
    }
    &__group {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      @include phone {
        display: none;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
        z-index: 3;
        width: rem(327);
        min-height: rem(217);
        background: $white;
        padding-bottom: rem(24);

        &.show {
          display: flex;
        }
        body:has(.dark) & {
          background: $primaryClr3;
        }
      }
      &-bg {
        display: none;
        &.show {
          display: block;
          position: absolute;
          z-index: 1;
          content: "";
          width: 200%;
          left: -50%;
          height: 200vh;
          position: absolute;
          top: -100vh;
          background: rgba($primaryClr3, 0.7);
          filter: blur(20px);
        }
      }
    }
    &__wrapper {
      @include transition;
      position: relative;
      flex: 1 1 auto;
      &:has(.filters__name) {
        @include phone {
          input {
            padding: 0;
          }
        }

        &::before {
          @include phone {
            display: none;
          }
        }
      }
      &:has(.filters__name),
      &:has(.filters__location) {
        &::before {
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          font-family: "Custom icons";
          color: $primaryClr;
          content: "\E803";
          font-size: $icon-size;
        }
      }
      &:has(.filters__location) {
        padding-left: rem(23);
        &::before {
          content: "\E804";
        }

        @include phone {
          padding-left: 0;
          height: fit-content;
          flex: unset;
          padding-left: rem(47);
          &::before {
            left: rem(24);
          }
          input {
            body:has(.dark) & {
              background: $primaryClr3;
            }
          }
        }
      }

      @include phone {
        width: 100%;
      }
    }
    &__name {
      height: 100%;
      padding: 0 calc(#{rem(16)} + $icon-size);
      width: 100%;
      min-height: $input-height;
    }
    &__location {
      padding: 0 $icon-size;
      width: 100%;
      min-height: $input-height;
    }
    label[for="full-time"] {
      margin-right: rem(26);
      min-width: fit-content;
      @include tablet {
        display: none;
      }
      &.label-mob {
        display: none;
        @include phone {
          display: block;
        }
        @include tablet {
          display: block;
        }
      }
    }
    .full-time__wrapper {
      display: flex;
      @include tablet {
        padding: 0 rem(28) 0 rem(20);
      }
    }
    &__full-time {
      font-size: rem(16);
      margin: 0 rem(16) 0 rem(32);

      @include tablet {
        margin: 0 rem(32) 0 rem(0);
      }
      @include phone {
        margin-left: rem(24);
      }
    }

    &__open {
      background: none;
      border: none;
      &-wrapper {
        display: none;
      }
      @include phone {
        &-wrapper {
          display: block;
          position: relative;
          body:has(.light) &::before {
            color: $secondaryClr4;
          }
          &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-size: rem(20);
            font-family: "Custom icons";
            height: fit-content;
            color: $white;
            font-weight: 900;
            content: "\E805";
          }
        }
      }
    }
    &__submit {
      @include button;
      height: rem(48);

      body:has(.dark) & {
        background: $primaryClr;
        border-right: none;
      }
      &-mob {
        display: none;
      }
      @include tablet {
        padding: rem(16) rem(14);
      }
      @include phone {
        margin: 0 auto;
        min-width: 85%;
        &-mob {
          padding: 0;
          width: rem(48);
          height: rem(48);
          display: block;
          @include button;
          background: $primaryClr;
          &-wrapper {
            position: relative;
            &::before {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
              font-size: rem(20);
              font-family: "Custom icons";
              height: fit-content;
              color: $white;
              font-weight: 900;
              content: "\E803";
            }
          }
          body:has(.light) & {
            padding: 0;
            font-size: 0;
          }
          body:has(.dark) & {
            padding: 0;
            width: rem(48);
            height: rem(48);
            font-size: 0;
            background: $primaryClr;
            border-right: none;
          }
        }
      }
    }
  }
  .jobs {
    padding: rem(60) 0 rem(105) 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(30);
    row-gap: rem(60);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      padding: rem(30) 0 rem(61) 0;
      column-gap: rem(15);
    }
    @include phone {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 0 rem(62) 0;
      row-gap: rem(40);
    }
    .job-card {
      body:has(.dark) & {
        background: $primaryClr3;
      }
      padding: rem(0) rem(32) rem(36) rem(32);
      background: $white;
      border-radius: rem(6);
      position: relative;
      display: flex;
      flex-direction: column;
      &__logo-wrapper {
        transform: translateY(-50%);
        width: rem(50);
        height: rem(50);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(15);
      }
      &__logo {
        object-fit: contain;
      }
      &__header {
        display: flex;
        gap: rem(12);
        color: $secondaryClr4;
      }
      &__contract {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(12);
        &::before {
          display: inline-block;
          content: "";
          width: rem(4);
          height: rem(4);
          border-radius: 50%;
          background: $secondaryClr4;
        }
      }
      &__postion {
        body:has(.dark) & {
          color: $white;
        }
        font-size: rem(20);
        color: $primaryClr3;
        font-weight: bold;
      }
      &__company {
        color: $secondaryClr4;
        margin-bottom: rem(40);
      }
      &__location {
        color: $primaryClr;
        font-weight: bold;
        font-size: rem(14);
      }
      &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
      }
    }
  }
}

.job-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__info-header-inner {
    &:nth-child(2) .job-page__info-apply {
      @include phone {
        display: none;
      }
    }
  }
  &__inner {
    @include container;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-width: rem(730);

    @media (min-width: rem(1440)) {
      padding: 0;
    }
    @include tablet {
      padding: 0 rem(15);
    }
    @include phone {
      padding: 0 rem(25);
    }
  }
  &__company {
    display: flex;
    align-items: center;
    background: $white;
    transform: translateY(-30%);
    border-radius: rem(6);
    @include phone {
      transform: translateY(-20%);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: rem(32);
    }
    body:has(.dark) & {
      background: $primaryClr3;
      border-radius: rem(6);
    }
    &-logo {
      width: rem(140);
      height: rem(140);
      padding: rem(58) rem(30);
      object-fit: contain;

      @include phone {
        width: rem(50);
        height: rem(50);
        padding: rem(20) rem(5);
        transform: translateY(-50%);
        border-radius: rem(15);
      }
    }
    &-wrapper {
      padding-left: rem(40);
      overflow: hidden;
      flex: 1 1 auto;

      @include phone {
        padding-left: 0;
        text-align: center;
      }
    }
    &-name {
      @include h2;
      font-weight: bold;
    }
    &-website {
      color: $secondaryClr4;
      text-decoration: none;
    }
    &-btn {
      @include button2;
      width: rem(147);
      padding: rem(16) rem(20);
      text-decoration: none;
      margin-right: rem(43);

      @include phone {
        margin-right: 0;
        margin-top: rem(24);

        body:has(.dark) & {
          color: $primaryClr;
          background: rgba($primaryClr, 0.2);
        }
      }
    }
  }

  &__info {
    padding: rem(48);
    padding-top: rem(35);
    margin-bottom: rem(80);
    flex: 1 1 auto;
    background: $white;
    color: $secondaryClr4;

    @include phone {
      padding: rem(40) rem(25);
    }
    body:has(.dark) & {
      color: $secondaryClr3;
      background: $primaryClr3;
      border-radius: rem(6);

      @include phone {
        padding: rem(40) rem(25);
      }
    }
    h2 {
      @include h3;
      font-weight: bold;
      margin-bottom: rem(28);
      color: black;

      body:has(.dark) & {
        color: $white;
      }
    }
    ul {
      padding: rem(24) 0 rem(48) 0;
      list-style-type: none;
      li {
        position: relative;
        padding-left: rem(28);
        display: block;
        &::before {
          left: 0;
          position: absolute;
          display: inline-block;
          content: "•";
          color: $primaryClr;
        }
      }
    }
    ol {
      padding-top: rem(24);
      counter-reset: item;
      list-style-type: none;
      li {
        position: relative;
        padding-left: rem(28);
        display: block;
        &::before {
          left: 0;
          position: absolute;
          display: inline-block;
          content: counter(item) "  ";
          counter-increment: item;
          color: $primaryClr;
        }
      }
    }
    &-wrapper {
      @include container;
      width: 100%;
      max-width: rem(730);
      padding: 0;

      @include tablet {
        padding: 0;
      }
      @include phone {
        padding: 0;
      }
    }
    &-header {
      &-inner {
        &:first-child {
          justify-content: unset;
          gap: rem(12);
        }
        display: flex;
        justify-content: space-between;
      }
      &:last-child {
        margin-bottom: rem(40);
      }
    }
    &-contract {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(12);
      &::before {
        display: inline-block;
        content: "";
        width: rem(4);
        height: rem(4);
        border-radius: 50%;
        background: $secondaryClr4;
      }
    }
    &-position {
      @include h1;
      color: black;

      body:has(.dark) & {
        color: $white;
      }
    }
    &-apply {
      @include button;
      text-decoration: none;
      height: rem(48);
      padding: rem(13) rem(28);

      &-mob {
        @include button;
        text-align: center;
        text-decoration: none;
        height: rem(48);
        padding: rem(13) rem(28);
        display: none;

        @include phone {
          margin-top: rem(50);
          margin-bottom: rem(32);
          display: block;
        }
      }
    }
    &-location {
      @include h4;
      color: $primaryClr;
      font-weight: bold;
    }
    &-content {
      padding-bottom: rem(40);
    }
  }
  &__footer {
    width: 100vw;
    padding: rem(22) 0;
    background: $white;

    body:has(.dark) & {
      background: $primaryClr3;
    }
    &-wrapper {
      @include container;
      max-width: rem(730);

      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (min-width: rem(1440)) {
        padding: 0;
      }
      @include tablet {
        padding: 0 rem(15);
      }
    }
    &-position {
      @include h3;

      @include phone {
        display: none;
      }
    }
    &-company {
      color: $secondaryClr4;

      @include phone {
        display: none;
      }
    }
    &-apply {
      @include button;
      text-decoration: none;
      height: rem(48);
      padding: rem(13) rem(28);

      @include phone {
        width: 100%;
      }
    }
  }
}
