$primaryClr: #5964e0;
$primaryClr2: #939bf4;
$primaryClr3: #19202d;
$primaryClr4: #121721;

$secondaryClr: #ffffff;
$secondaryClr2: #f4f6f8;
$secondaryClr3: #9daec2;
$secondaryClr4: #6e8098;

$white: #ffffff;

$btn1-bg: #5964e0;
$btn2-bg: #c9c9c9;
$fontClr: $secondaryClr4;

$pc: 1200px;
$pcM: 1440px;
$tablet: 767px;
$phone: 480px;
